<%= link_to 'Return to products', products_path(), class: "btn-return mt-4 mb-3" %>
  <div class="card-product">
    <div>
      <h2 class="mt-3"> ProcuctName:<%= @product.productname.capitalize %></h2>
      <p>Price:<%= @product.price%></p>
      <h3>Barcode:<%= @product.barcode%></h3>
    </div>
  </div>
